body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    width: 100vw;
    padding-left: 5%;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
}

#nav {
    display: flex;
    margin: auto 0;
}

#nav img {
    height: 0.857em;
}

#nav-text {
    margin-left: 2em;
}

a {
    color: #000;
}

#nav-text a {
    margin: auto 0;
    margin-right: 0.714em;
    text-decoration: none;
    transition: color 0.5s ease;
}

#nav-text a:hover {
    color: #000;
}

.nav-items {
    margin-right: 0.8em;
}

#logo {
    flex-grow: 1;
    font-weight: 600;
    font-size: 1.38em;
    padding: 10% 10% 10%;
    text-align: right;
}

nav {
    padding-left: 1%;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.hr {
    background: #000;
    height: 1px;
    display: block;
    margin: 0.6em 0 1.42em auto;
    width: 0%;
}

article {
    padding-bottom: 1.78em;
    transition: .5s;
}

#articles {
    padding-left: 1%;
}

#articles ul {
    padding-left: 0;
}

article img {
    width: 3.42em;
    display: inline;
}

.container {
    text-align: right;
    padding-left: 3%;
}

section {
    text-align: left;
}

.color-1 {
    color: #808080;
}

.color-2 {
    color: #B3B3B3
}





.grid-wrap {
    width: 100%;
    margin-left: -24px;
}
.grid-item {
    padding-left: 24px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.grid-10 {
    width: 10%;
}
.grid-15 {
    width: 15%;
}
.grid-20 {
    width: 20%;
}
.grid-25 {
    width: 25%;
}
.grid-30 {
    width: 30%;
}
.grid-40 {
    width: 40%;
}
.grid-50 {
    width: 50%;
}
.grid-60 {
    width: 60%;
}
.grid-80 {
    width: 80%;
}