body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    width: 100vw;
}

#logo {
    font-weight: 600;
    font-size: 1.38em;
    padding: 10% 10% 10%;
    text-align: right;
}

nav {
    /* padding-right: 10%; */
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.when-nav,
.when-article {
    /* width: 7%; */
}

.what-nav, .what-article {
    width: 30%;
}

.where-nav, .where-article {
    width: 30%;
}

.how-nav, .how-article {
    width: 20%;
}

#hr {
    /* width: 95%; */
    background: #000;
    height: 1px;
    margin-top: 0.6em;
    margin-right: 0;
}

#articles {
    /* padding-right: 10%; */
}

#articles ul {
    padding-left: 0;
}

img {
    width: 3.42em;
    display: inline;
}

.container {
    text-align: right;
    padding-left: 10%;
}

section {
    text-align: left;
}

.width-10 {
    width: 10%;
}
.width-20 {
    width: 20%;
}
.width-30 {
    width: 30%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}

.color-1 {
    color: grey;
}